<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rezha.azis">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_azis"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logo_azis"
        android:supportsRtl="true"
        android:theme="@style/Theme.AZIS.noActionBar">
        <activity android:name=".sign.GantiPasswordActivity"></activity>
        <activity android:name=".sign.EditDataActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".sign.SignUpActivity" />
        <activity android:name=".sign.SignInActivity" />
        <activity android:name=".kepala_keluarga.FormAnggotaActivity" />
        <activity android:name=".kepala_keluarga.KKDetailActivity" />
        <activity android:name=".zakat.ZakatDetailActivity" />
        <activity android:name=".panitia.PanitiaDetailActivity" />
        <activity android:name=".panitia.FormPanitiaActivity" />
        <activity android:name=".kepala_keluarga.FormKKActivity" />
        <activity android:name=".zakat.FormZakatActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>